html {
	font-size:100%;
}
body {
	font-size:62.5%;
	font-family:Helvetica,Arial,sans-serif;
	padding:0;
	margin:0;
	background: #E2E2E2;
}
header, footer, nav, section, article {
 display:block;
}
.fright {
	float:right;
}
header#top {
	background:#91181D url('../img/dashboard/header_bg.jpg') repeat-x 0 100%;
	position:relative;
	height:50px;
	font-size:1.2em;
}
header nav {
	position:absolute;
	bottom:0;
	width:100%;
}
header nav a.home {
	position:absolute;
	left:20px;
	bottom:5px;
	color:rgba(255,255,255,.5);
	text-decoration:none;
	text-transform:uppercase;
	text-shadow:rgba(0,0,0,.5) 1px 1px 0px;
}
header nav a.home:hover,
header nav a.home:focus {
	color:#fff;
}
header#top ul {
	padding:0;
	margin:0 0 0 155px;
}
header#top ul li {
	float:left;
	list-style:none;
	padding-left:15px;
	height:23px;
	margin-right:-5px;
}
header#top ul li a {
	display:block;
	padding:8px 15px 0 0;
	height:15px;
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
}
header#top ul li.current {
	background:transparent url('../img/dashboard/tab.jpg') no-repeat 0 -23px;
}
header#top ul li.current a {
	background:transparent url('../img/dashboard/tab.jpg') no-repeat 100% 0;
	color:#000;
}
header#top ul li.logout {
	position:absolute;
	right:0;
	top:0;
	margin:0;
}
header#top ul li ul {
	position:absolute;
	left:5px;
}
header#top ul li ul li {
	font-size:0.9em;
}
header#top ul li ul {
	display:none;
	visibility:hidden;
}
header#top ul li.current ul {
	display:block;
	visibility:visible;
}
header#top ul li.current ul a {
	background:none;
	color:#333;
	text-shadow:#fff 1px 1px 1px;	
}
div#main {
	clear:both;
	display:table;
	width:100%;
	background:#E2E2E2;
}
section#content {
	display:table-cell;
	vertical-align:top;
	font-size:1.2em;
	padding-top:8px;
}
section#content div.wrap {
	padding:30px 10px 10px;
	margin:20px;
	margin-left:0;
	background:#f4f4f4;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border:#ccc 1px solid;
	position:relative;
}
section#content div.wrap h1 {
	background:transparent url('../img/dashboard/section_title.png') no-repeat -383px -24px;
	margin:0;
	padding-left:15px;
	position:absolute;
	top:-3px;
	left:15px;
	text-transform:uppercase;
	color:#5E0A0B;
	font-weight:normal;
	font-size:1.1em;
}
section#content div.wrap h1 span {
	display:block;
	padding:6px 18px 0 3px;
	height:18px;
	background:transparent url('../img/dashboard/section_title.png') no-repeat 100% 0;
}
a.cta {
	background:#fefefe;
	border:#ccc 1px solid;
	padding:5px 8px;
	color:#4c0201;
	text-transform:uppercase;
	font-weight:normal;
	margin-bottom:10px;
	text-shadow:rgba(255,255,255,.8) 1px 1px 1px;
	text-decoration:none;
	font-size:0.8em;
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.45, rgb(230,230,230)),
	    color-stop(0.73, rgb(240,240,240))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(230,230,230) 45%,
	    rgb(240,240,240) 73%
	);
}
a.cta:hover,
a.cta:focus {
	border-color:#666;
}
aside#sidebar {
	display:table-cell;
	vertical-align:top;
	width:150px;
	padding:25px 0 0 10px;
	font-size:1.1em;
	color:#333;
}
aside#sidebar strong.title {
	text-transform:uppercase;
	display:block;
	margin-bottom:-8px;
	font-size:1.1em;
	color:#000;
}
aside#sidebar p {
	padding-right:10px;
}
aside#sidebar div.select {
	background:transparent url('../img/dashboard/select.png') no-repeat 0 0;
	position:relative;
}
aside#sidebar div.select a {
	text-decoration:none;
}
aside#sidebar div.select strong {
	text-transform:uppercase;
	font-weight:normal;
	color:#fff;
	display:block;
	height:10px;
	padding:5px 10px;
	cursor:pointer;
}
aside#sidebar div.select ul li ul li strong {
	cursor:default;
    border-bottom:#ccc 1px solid;
}
aside#sidebar div.select ul {
	position:absolute;
	left:4px;
	margin:0;
	padding:0;
	width:120px;
	list-style:none;
}
aside#sidebar div.select ul li {
	background:#f4f4f4;
	border:#ccc 1px solid;
	border-top:none;
    border-bottom:none;
	overflow:hidden;
}
aside#sidebar div.select ul li a {
	display:block;
	padding:3px 10px;
	color:#333;
	text-decoration:none;
    border-bottom:#ccc 1px solid;
}
aside#sidebar div.select ul li a:hover,
aside#sidebar div.select ul li a:focus {
	background:#5E0A0B;
	color:#fff;
}
aside#sidebar div.select:hover ul
aside#sidebar div.select:hover ul {
	top:20px;
	left:0;
}
aside#sidebar div.select ul li ul {
	border:none;
	position:static;
}
aside#sidebar div.select ul li ul li {
	border-left:none;
}
aside#sidebar div.select ul li ul li strong {
	color:#000;
	padding:4px;
	text-transform:none;
	font-weight:bold;
}
table {
	width:100%;
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border:#ccc 1px solid;
	overflow:hidden;
}
table.mceLayout {
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}
table tr th,
table tr td {
	background:transparent url('../img/dashboard/table_head.jpg') repeat-x 0 0;
	padding:5px 10px;
	text-align:left;
	border-bottom:#ccc 1px solid;
}
table tr .checkbox {
	width:15px;
	padding:5px;
}
table tr td {
	background:none;
}
table tr:last-child td {
	border-bottom:none;
}
table tr:nth-child(even) td {
	background:#fff;
}
table tr th:first-child {
	border-top-left-radius:7px;
	-moz-border-radius-topleft:7px;
	-webkit-border-top-left-radius:7px;
}
table tr th:last-child {
	border-top-right-radius:7px;
	-moz-border-radius-topright:7px;
	-webkit-border-top-right-radius:7px;
}
table tr td:first-child {
	border-bottom-left-radius:7px;
	-moz-border-radius-bottomleft:7px;
	-webkit-border-bottom-left-radius:7px;
}
table tr td:last-child {
	border-bottom-right-radius:7px;
	-moz-border-radius-bottomright:7px;
	-webkit-border-bottom-right-radius:7px;
}
table tr.selected td {
	background:#FFEFF0;
}
div.table-top,
div.table-bottom {
	text-align:right;
	padding:5px;
}
div.paging {
	font-family:Georgia,sans-serif;
	color:#666;
}
div.paging div,
div.paging p {
	display:inline;
}
div.paging .disabled {
	color:#ccc;
}
div.table-bottom ul.buttons {
	margin:-3px 0 0 0;
	padding:0 5px;
}
div.table-bottom ul.buttons li {
	display:inline-block;
	list-style:none;
}
div.table-bottom ul.buttons li a {
	padding:3px 8px;
	background:#f4f4f4;
	border:#ccc 1px solid;
	border-top:0;
	border-bottom-left-radius:7px;
	-moz-border-radius-bottomleft:7px;
	-webkit-border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
	-moz-border-radius-bottomright:7px;
	-webkit-border-bottom-right-radius:7px;
	text-decoration:none;
	font-size:0.9em;
	color:#5E0A0B;
}
div.table-bottom ul.buttons li a:hover,
div.table-bottom ul.buttons li a:focus {
	color:#f4f4f4;
	background:#5E0A0B;
	border-color:#fff;
}
div.form-wrapper,
div.table {
	width:100%;
	display:table;
}
div.row {
	display:table-row;
}
div.cell {
	display:table-cell;
	vertical-align:top;
	width:auto;
	padding-right:20px;
}
div.form-wrapper div.cell.form-sidebar,
div.table div.cell.sidebar {
	width:250px!important;
}
form div.input {
	width:100%;
	clear:both;
    margin-bottom:10px;
}
form div.input.values,
form div.input.select {
	padding:1px 0;
	background:#fff;
	border:#ccc 1px solid;
	width:auto;
	float:left;
	clear:both;
	margin-bottom:10px;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	width:100%;
}
div.form-wrapper div.cell.form-sidebar label,
div.form-wrapper div.cell.form-sidebar input {
    font-size:1em
}
form div.input.values label,
form div.input.select label {
	float:left;
	width:100%;
	margin-right:10px;
	padding:5px 0;
    text-indent:10px;
}
form div.input.values a,
form div.input.select select {
	margin-top:2px;
}
form div.input.select select {
    margin:0 0 10px 10px;
}
form div.input input,
form div.input textarea,
form div.htmleditor span.mceEditor {
	display:block;
	margin-bottom:10px;
	width:100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
	border:#ccc 1px solid;
	font-size:1.1em;
    color:#333;
}
form div.input input:focus,
form div.input textarea:focus {
	border:#666 1px solid;
	outline:none;
}
form div.input .form-error,
form div.htmleditor span.mceEditor.form-error {
    margin-bottom:0!important;
}
form div.htmleditor span.mceEditor {
	border:none;
	padding-bottom:0;
    margin-bottom:0;
}
form div.longtext {
	position:relative;
}
form div.longtext .status {
	position:absolute;
	bottom:0;
	right:0;
	color:rgba(0,0,0,.3);
	font-size:2em;
	font-weight:bold;
}
form .error-message {
	color:#fff;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    width:100%;
    background:#8a1619;
    border:#8a1619 1px solid;
    padding:3px 2px 3px 10px;
    margin-bottom:10px;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius-topright:0;
	-moz-border-radius-topleft:0;
	border-top-right-radius:0;
	border-top-left-radius:0;
    clear:both;
}
form .select .error-message {
    margin-bottom:-1px;
    margin-left:-1px;
    border:none;
}

form .textarea .error-message {
    padding-right:4px;
}
form .file input {
    padding:3px 0;
    text-indent:5px;
}
form .file .error-message {
    padding-right:0;
}
form fieldset {
	border:none;
	padding-top:0;
}
form fieldset legend {
    color:#222;
	font-size:1.7em;
	padding:0 0 10px 10px;
}
form label {
	color:#333;
	font-size:1.2em;
}
label p {
    font-size:0.8em;
    margin:3px 0;
}
form .group {
	border:#dedede 1px solid;
	padding:10px;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	clear:both;
	margin-bottom:20px;
}
form .group span.clear {
    display:block;
    height:1px;
    margin-top:-5px;
}
form .form-main .group-wrap {
	width:50%;
	margin:0 0 20px 0;
	padding:0;
	float:left;
	clear:none;
}
form .form-main .group-wrap .group {
	display:block;
	float:none;
	width:auto;
	margin:0 5px;
}
form .submit {
    margin-top:-15px;
    padding-left:30px;
}
form .group .title,
h3 {
	color:#4c0201;
	text-transform:uppercase;
	font-weight:normal;
	margin-bottom:10px;
	display:block;
	text-shadow:rgba(255,0,0,.2) 1px 1px 1px;
}
h2.theme {
	clear:both;
	border-bottom:#ccc 1px solid;
}
h2.theme a.cta {
	margin-top:2.3em;
	font-size:0.6em;
	float:right;
}
h2.theme a.cta.simple {
	margin-top:-.8em;
}
h2 .description {
	font-size:0.8em;
	font-weight:normal;
	font-style:normal;
	color:#666;
}
.theme-description {
    font-size:1em;
    color:#333;
    line-height:1.2em;
}
.theme-description p {
    margin:0 0 5px 0;
}
.theme-menus {
    padding-top:10px;
}
.theme-menus ul {
    list-style:none;
    padding:5px 0 0 20px;
}
.theme-menus .description {
    padding-left:10px;
    color:#333;
}
form .group .label {
	color:#666;
	font-size:1em;
	margin:3px 0 10px 0;
}
div#page-selector ul.types {
	float:left;
	width:100%;
	margin:0;
	padding:0;
	list-style:none;
}
div#page-selector ul.types li {
	float:left;
	padding-right:10px;
}
ul#menu-items {
	list-style:none;
	padding:0;
}
.menu-item {
	background:#e2e2e2;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border:#ccc 1px solid;
	padding:5px 10px;
	clear:both;
	margin-bottom:5px;
}
.menu-item .handle {
	vertical-align:bottom;
	cursor:move;
}
.menu-item strong.title {
	padding:9px 0 1px 0;
	text-shadow:#fff 1px 1px 1px;
	color:#333;
}
.menu-item form div.input {
	display:inline;
	position:relative;
	width:auto;
}
.menu-item div.actions {
	float:right;
}
.menu-item div.actions .move {
	padding-right:5px;
	margin-right:5px;
}
.menu-item form,
.menu-item form div.input input {
	display:inline;
	width:auto;
	border:none;
	outline:none;
	margin:0 5px 0 0;
}
.menu-item input#SettingsUrl {
    width:425px;
}
.menu-item label {
    position:absolute;
    top:-1px;
    left:2px;
    font-size:1em;
    letter-spacing:1px;
	display:none;
    color:#999;
}
.menu-item #post-selector {
	position:absolute;
	top:21px;
	left:-15px;
	width:500px;
	height:150px;
	background:#f2f2f2;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border:#ccc 1px solid;
    z-index:10000;
}
.menu-item #post-selector .arrow {
	background:transparent url(../img/dashboard/arrow.png) no-repeat 0 0;
	width:30px;
	height:15px;
	margin:-15px 0 0 8px;
}
.menu-item #post-selector .types {
	width:200px;
	height:100%;
	overflow:scroll;
	overflow-x:hidden;
	float:left;
	margin:0;
	padding:0;
	list-style:none;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius-topright:0;
	-moz-border-radius-bottomright:0;
	border-top-right-radius:0;
	border-bottom-right-radius:0;
	border-right:#ccc 1px solid;
	background:transparent;
}
.menu-item #post-selector .types .plugin {
	display:block;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.45, rgb(230,230,230)),
	    color-stop(0.73, rgb(240,240,240))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(230,230,230) 45%, rgb(240,240,240) 73%
	);
	border-bottom:#ccc 1px solid;
	color:#333;
	padding:5px 10px;
}
.menu-item #post-selector .types :first-child .plugin {
	border-top-left-radius:7px;
	-moz-border-radius-topleft:7px;
	-webkit-border-top-left-radius:7px;
}
.menu-item #post-selector .types :last-child ul,
.menu-item #post-selector .types :last-child ul li {
	border-bottom:none;
}
.menu-item #post-selector .types ul {
	list-style:none;
	padding:0;
}
.menu-item #post-selector .types ul li {
	padding:5px 10px;
	border-bottom:#ccc 1px solid;
}
.menu-item #post-selector .types ul li a {
	display:block;
	text-decoration:none;
	color:#000;
}
.menu-item #post-selector .types ul {
	border-bottom:none;
}
.menu-item #post-selector .posts {
	width:299px;
	height:100%;
	overflow:scroll;
	overflow-x:hidden;
	list-style:none;
	float:left;
	padding:0;
	margin:0;
}
.menu-item #post-selector .posts li {
	padding:5px;
	position:relative;
	border-bottom:#ccc 1px solid;
	cursor:pointer;
} 
.menu-item #post-selector .posts li:last-child {
	border-bottom:none;
} 
.menu-item #post-selector .posts li:nth-child(2n+1) {
	background:#E2E2E2;
}
.menu-item #post-selector .posts li strong {
	font-size:1em;
}
.menu-item #post-selector .posts li p {
	color:#666;
	font-size:0.8em;
	margin:0;
}
.menu-item #post-selector .posts li a {
	position:absolute;
	top:4px;
	right:10px;
	font-size:0.8em;
}
#flashMessage,
#authMessage {
	position:absolute;
	top:0;
    right:20px;
    z-index:9999;
	padding:5px 10px;
	background:#fff;
	border:#ccc 1px solid;
	border-top:0;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius-topright:0;
	-moz-border-radius-topleft:0;
	border-top-right-radius:0;
	border-top-left-radius:0;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.45, rgb(230,230,230)),
	    color-stop(0.73, rgb(240,240,240))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(230,230,230) 45%,
	    rgb(240,240,240) 73%
	);
}
.clear {
    clear:both;
}
.actions {
}
.actions li {
    list-style:none;
    float:right;
    margin:-20px 5px 20px 5px;
}
.actions li a {
    border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
    border:#ccc 1px solid;
    padding:5px 10px;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:bold;
    color:#666;
   	background:transparent url('../img/dashboard/table_head.jpg') repeat-x 0 0;
}
.actions li a:hover {
    color:#000;
    border:#666 1px solid;

}
